In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import requests

%matplotlib inline

In [3]:
df = pd.read_csv("Raw Counts National Parkland Voter Reg.csv")
df.head()

,State_Code,State,reg_date_time_period,Total Registered,18_29,30_39,40_49,50_64,65_,Unknown,Number of Days Included
0,AK,Alaska,Post-Parkland,12022,11.50,14.23,11.92,20.29,12.23,29.83,76
1,AK,Alaska,Pre-Parkland,38169,11.41,12.78,11.26,18.32,9.15,37.08,76
2,AL,Alabama,Post-Parkland,30178,42.46,18.46,14.06,16.53,8.49,0.01,54
3,AL,Alabama,Pre-Parkland,29487,40.35,19.01,14.51,17.29,8.82,0.01,54
4,AZ,Arizona,Post-Parkland,25963,44.27,15.19,10.55,15.83,14.17,0.00,50